# Archivos compilados de Java
/target/
*.jar
*.war
*.ear
*.class

# Logs
*.log
logs/

# Archivos de IDE (IntelliJ)
.idea/
*.iml
*.ipr
*.iws
/out/

# Archivos de IDE (VSCode)
.vscode/

# Archivos de IDE (Eclipse)
.classpath
.project
.settings/
bin/

# Archivos de Sistema Operativo
.DS_Store
Thumbs.db

# Logs de VM
hs_err_pid*
replay_pid*

# Variables de entorno y secretos
.env
.env.*
*.key
*.pem
*.p12
*.pfx
*-firebase-adminsdk-*.json
firebase-credentials.json
serviceAccountKey.json

# Archivos de Maven Wrapper (Ignorar SOLO el JAR)
.mvn/wrapper/maven-wrapper.jar

# Otros
HELP.md
